{% extends './base_home.html' %}

{% block 'conteudo' %}
<style>
    .custom-control-label::before {
        background: white;
        border: solid 1px black;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: black;
    }
</style>

<div class="col m-0 p-0">
    <h2 class="border-bottom border-dark pl-3 w-75">{% block 'titulo' %}{% endblock %}</h2>
    <div class="mx-3 my-2">
        <label class="mb-0 font-weight-bold">Servidor efetivo da Codata:</label>
        {% if usuario.efetivo %}
        <input type="checkbox" checked onclick="return false;">
        {% else %}
        <input type="checkbox" onclick="return false;">
        {% endif %}
        <div class="row">
            <div class="col-3 d-flex flex-column pr-0">
                <label class="mb-0">Diretoria*</label>
                <input type="text" readonly value="{{ usuario.gerencia }}">
            </div>
            <div class="col-2 d-flex flex-column">
                <label class="mb-0">Função*</label>
                <input type="text" readonly value="{{ usuario.funcao }}">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex flex-column pr-0">
                <label class="mb-0">Nome*</label>
                <input type="text" readonly value="{{ usuario.nome }}">
            </div>
            <div class="col-2 d-flex flex-column">
                <label class="mb-0">CPF*</label>
                <input type="text" readonly value="{{ usuario.cpf }}">
            </div>
        </div>
    </div>

    <div class="border border-dark m-2">
        {% block 'questoes' %}{% endblock %}
    </div>

    <script>

    </script>
    {% endblock %}