{% extends '../home_usuarios.html' %}

{% block 'conteudo' %}
<style>
    .custom-control-label::before {
        background: white;
        border: solid 1px black;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: black;
    }
</style>

<div class="col m-0 p-0">
    <h2 class="border-bottom border-dark w-75">Formulário de {% block 'avaliado-form' %}{% endblock %}</h2>
    <div class="mx-3 my-2">
        <label class="mb-0 font-weight-bold">Servidor efetivo da Codata:</label>
        {% if instance.efetivo %}
        <input type="checkbox" checked onclick="return false;">
        {% else %}
        <input type="checkbox" onclick="return false;">
        {% endif %}
        <div class="row">
            <div class="col-3 d-flex flex-column pr-0">
                <label class="mb-0">Diretoria*</label>
                <input type="text" readonly value="{{ instance.diretoria }}">
            </div>
            <div class="col-3 d-flex flex-column pr-0">
                <label class="mb-0">Gerência(Lotação)*</label>
                <input type="text" readonly value="{{ instance.gerencia }}">
            </div>
            <div class="col-2 d-flex flex-column">
                <label class="mb-0">Função*</label>
                <input type="text" readonly value="{{ instance.funcao }}">
            </div>
        </div>
        <div class="row">
            <div class="col-4 d-flex flex-column pr-0">
                <label class="mb-0">Nome*</label>
                <input type="text" readonly value="{{ instance.nome }}">
            </div>
            <div class="col-2 d-flex flex-column">
                <label class="mb-0">CPF*</label>
                <input type="text" readonly value="{{ instance.cpf }}">
            </div>
        </div>
    </div>

    <div class="border border-dark m-2">
        <div class="col" style="height: 550px; overflow-y: scroll;">
            <form>
                <small class="d-flex justify-content-end mr-4">Legenda: Ótimo (10,0), Bom (8,5), Regular (7,0) e
                    Insuficiente
                    (5,5)</small>
                <div class="col">

                    {% for avaliacao in avaliacoes %}
                    <fieldset class="form-group">
                        <p class="ml-5 mb-0 mt-2 mr-auto py-2 pl-2 pr-4 font-weight-bold text-center"
                            style="background-color: #d9d9d9; border-radius: 25px; max-width: 300px;">{{ forloop.counter}} - Critério de
                            {{avaliacao.categoria_avaliacao}}</p>
                        <div class="row mx-1 p-2 text-left" style="background-color: #edebeb; border-radius: 25px">
                            <legend class="col-form-label ml-4 font-weight-bold">Grau de conhecimento para realização de
                                suas tarefas</legend>
                            <div class="col">

                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio"
                                        name="gridRadios-{{avaliacao.categoria_avaliacao}}"
                                        id="radio-otima-{{avaliacao.categoria_avaliacao}}"
                                        value="otima-{{avaliacao.categoria_avaliacao}}" />
                                    <label class="row form-check-label ml-3 mb-2 p-3 w-100 border border-dark"
                                        style="border-radius: 25px" for="radio-otima-{{avaliacao.categoria_avaliacao}}">
                                        <span class="font-weight-bold align-self-center">O (10)</span>
                                        <p class="col-md mb-0">{{avaliacao.avaliacao_otima}}</p>
                                    </label>
                                </div>

                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio"
                                        name="gridRadios-{{avaliacao.categoria_avaliacao}}"
                                        id="radio-boa-{{avaliacao.categoria_avaliacao}}"
                                        value="boa-{{avaliacao.categoria_avaliacao}}" />
                                    <label class="row form-check-label ml-3 mb-2 p-3 w-100 border border-dark"
                                        style="border-radius: 25px" for="radio-boa-{{avaliacao.categoria_avaliacao}}">
                                        <span class="font-weight-bold align-self-center">B (8,5)</span>
                                        <p class="col-md mb-0">{{avaliacao.avaliacao_boa}}</p>
                                    </label>
                                </div>

                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio"
                                        name="gridRadios-{{avaliacao.categoria_avaliacao}}"
                                        id="radio-regular-{{avaliacao.categoria_avaliacao}}"
                                        value="regular-{{avaliacao.categoria_avaliacao}}" />
                                    <label class="row form-check-label ml-3 mb-2 p-3 w-100 border border-dark"
                                        style="border-radius: 25px"
                                        for="radio-regular-{{avaliacao.categoria_avaliacao}}">
                                        <span class="font-weight-bold align-self-center">R (7,0)</span>
                                        <p class="col-md mb-0">{{avaliacao.avaliacao_regular}}</p>
                                    </label>
                                </div>

                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input" type="radio"
                                        name="gridRadios-{{avaliacao.categoria_avaliacao}}"
                                        id="radio-insuficiente-{{avaliacao.categoria_avaliacao}}"
                                        value="insuficiente-{{avaliacao.categoria_avaliacao}}" />
                                    <label class="row form-check-label ml-3 mb-2 p-3 w-100 border border-dark"
                                        style="border-radius: 25px"
                                        for="radio-insuficiente-{{avaliacao.categoria_avaliacao}}">
                                        <span class="font-weight-bold align-self-center">I (5,5)</span>
                                        <p class="col-md mb-0">{{avaliacao.avaliacao_insuficiente}}</p>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    {% endfor %}

                    <div class="d-flex justify-content-end mr-5 mb-2">
                        <button type="button" class="btn text-dark font-weight-bold pl-4 pr-4"
                            style="background-color: #D9D9D9;" data-toggle="modal"
                            data-target="#exampleModal">Enviar</button>
                    </div>
            </form>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content border border-dark">
                    <div class="modal-header border-0 p-0">
                        <button type="button" class="close ml-auto p-0 mr-3 my-1" data-dismiss="modal"
                            aria-label="Close">
                            <span class="px-2 text-white bg-secondary" style="border-radius: 50%;"
                                aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div
                        class="modal-body border border-dark border-bottom-0 text-center font-weight-bold pt-5 mx-3 mt-1">
                        Formulário enviado com sucesso!
                    </div>
                    <div class="modal-footer border border-dark border-top-0 d-flex justify-content-center mx-3 mb-4">
                        <button type="button"
                            class="btn btn-secondary text-uppercase text-center text-dark font-weight-bold border-0 px-5"
                            style="background-color: #D9D9D9; border-radius: 15px" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
    {% endblock %}