:root {
    --dark_cerulean: #194b69;
    --blue_sapphire: #205e7f;
    --teal_blue: #3d7084;
    --steel_teal: #568194;
    --pastel_blue: #a5c0cc;
}


*:focus {
    outline: none;
}

.header-bg {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    background-color: var(--blue_sapphire);
}

.menu-lateral {
    position: fixed;
    top: 15%;
    left: 0;
}

.menu {
    border: none;
}

.btn-menu {
    color: black;
    border: none;
    border-radius: 0%;
    background-color: white;
}

.btn-menu:hover {
    color: white;
    background: var(--blue_sapphire);
    background: linear-gradient(90deg, var(--blue_sapphire) 0%, var(--pastel_blue) 75%, rgba(255, 255, 255, 1) 100%);
}

.conteudo {
    position: absolute;
    z-index: 1;
    top: 13%;
    left: 16.5%;
}

h1 {
    color: var(--dark_cerulean);
}

.border-right-blue {
    border: 2px solid var(--blue_sapphire);
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 16.5%;
    height: 100%;

}

.border-bottom-blue {
    border-bottom-style: solid;
    border-bottom-color: var(--blue_sapphire);
}

.scroll {
    height: 550px;
    overflow-y: scroll;
    scrollbar-color: var(--blue_sapphire) white;
}

.aval-titulo {
    color: white;
    background-color: var(--dark_cerulean);
    border-radius: 25px;
    max-width: 300px;
}

.aval-bg {
    border: 2px solid var(--dark_cerulean);
    border-radius: 25px
}

.aval-topico {
    border-radius: 25px;
}

.form-check {
    accent-color: var(--steel_teal);
}

.btn-enviar {
    color: white;
    background-color: var(--dark_cerulean);
    border-radius: 15px;
}

/* toggle tamanho/posicao */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* escondendo checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* bg do toggle nao selecionado */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/* bolinha no toggle */
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* bg do toggle selecionado */
input:checked+.slider {
    background-color: var(--steel_teal);
}

/* animacao do toggle */
input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}