{% extends './home.html' %}

{% block 'conteudo' %}

<h1 class="pl-3 my-2 w-75 font-weight-bold">Avaliação de Desempenho</h1>

<form class="form mt-3 mx-3">
    <div class="input-group mb-3">

        <table class="table table-bordered">
            <thead>
                <tr class="tabela--cabecalho text-center font-weight-bold">
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data de Admissão</th>
                    <th scope="col">Última Avaliação</th>
                    <th scope="col">Avaliar</th>
                    <th scope="col">Visualizar Avaliação</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}

                <tr>
                    <td>{{ usuario.cpf }}</th>
                    <td>{{ usuario.nome }}</td>
                    {% if usuario.data_admissao_usuario == None %}
                        <td>Usuário sem data de admissão</td>
                    {% else %}
                        <td>{{ usuario.data_admissao_usuario }}</td>
                    {% endif %}
                    {% if usuario.data_ultima_avaliacao == None %}
                        <td>Usuário não avaliado</td>
                    {% else %}
                        <td>{{ usuario.data_ultima_avaliacao }}</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'avaliar_usuario' usuario.id %}" class="btn btn-link p-0">Avaliar</a>
                    </td>
                    <td>
                        <a href="{% url 'visualizar_avaliacao_usuario' usuario.id %}" class="btn btn-link p-0">Visualizar</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>
</form>

{% endblock %}