@import "avaliacao360/css/reset";

$dark_cerulean: #194b69;
$blue_sapphire: #205e7f;
$teal_blue: #3d7084;
$steel_teal: #568194;
$pastel_blue: #a5c0cc;

*:focus {
    outline: none;
}

.header-bg {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    background-color: $blue_sapphire;
}

.pag {
    position: absolute;
    width: 100%;
    top: 12%;
}

.menu {
    border: none;

    &--lateral {
        position: relative;
        top: 40%;
        left: 0;
    }

    &--btn {
        color: black;
        border: none;
        border-radius: 0%;
        background-color: white;

        &:hover {
            color: white;
            background: $blue_sapphire;
            background: linear-gradient(90deg, $blue_sapphire 0%, $pastel_blue 90%, white 100%);
        }
    }
}

.border-right-blue {
    border: 2px solid $blue_sapphire;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 16.5%;
    height: 100%;
}

h1 {
    color: $dark_cerulean;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: $blue_sapphire;
    font-size: 2.5em;
}

.scroll {
    height: 550px;
    overflow-y: scroll;
    scrollbar-color: $blue_sapphire white;
}

small {
    font-size: 0.75em;
}

.aval {
    border-radius: 25px;

    &--titulo {
        color: white;
        background-color: $dark_cerulean;
        border-radius: 25px;
        max-width: 300px;
        font-size: 1.2em;
    }

    &--bg {
        border-radius: 25px;
        border: 2px solid $dark_cerulean;
    }
}

.form-check {
    accent-color: $steel_teal;
}

.btn-enviar {
    color: white;
    background-color: $dark_cerulean;
    border-radius: 15px;

    &:hover {
        color: white;
        background: $blue_sapphire;
    }
}

/* toggle tamanho/posicao */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    /* escondendo checkbox */
    input {
        opacity: 0;
        width: 0;
        height: 0;

        /* bg do toggle selecionado */
        &:checked + .slider {
            background-color: $steel_teal;
        }

        /* animacao do toggle */
        &:checked + .slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
    }
}

/* bg do toggle nao selecionado */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    /* bolinha no toggle */
    &:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 3px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    &.round {
        border-radius: 34px;
    }

    &.round:before {
        border-radius: 50%;
    }
}
.field {
    &--diretoria {
        width: 300px;
    }
    &--gerencia {
        width: 300px;
    }
    &--funcao {
        width: 300px;
    }
}
