{% extends 'login/base_login.html' %}
{% load static %}

{% block 'titulo' %}Login{% endblock %}

{% block 'titulo-card' %}<img src="{% static 'logo-fundo-claro.png' %}" height="80px" class="d-inline-block align-top"
    alt="">{% endblock %}

{% block 'alerta' %}
{% if status == '0' %}
<div class="alert alert-danger" role="alert">
    Usuario nao encontrado
</div>

{% elif status == '1' %}
<div class="alert alert-danger" role="alert">
    Senha incorreta
</div>

{% elif status == '2' %}
<div class="alert alert-success" role="alert">
    Senha alterada com sucesso
</div>
{% endif %}
{% endblock %}

{% block 'form' %}
<form action="{% url 'validar_login' %}" method="post" class="">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="col">
        <div class="mx-3 mt-3 text-justify fieldWrapper">
            {{ form.cpf.errors }}
            <label class="mb-0 font-weight-bold" for="{{ form.cpf.cpf }}">* CPF</label>
            <div>{{ form.cpf }}</div>
        </div>

        <div class="mx-3 mt-3 text-justify fieldWrapper">
            {{ form.senha.errors }}
            <label class="mb-0 font-weight-bold" for="{{ form.senha.senha }}">* Senha</label>
            <div>{{ form.senha }}</div>
        </div>
        <input class="btn font-weight-bold px-5 mt-5 rounded-0 btn--enviar"
            type="submit" value="Entrar">
    </div>
</form>
<small class="mt-2"><a href="{% url 'recuperar_senha' %}" class="text-center text-muted"><u>Esqueceu sua senha?</u></a></small>
<div class="d-flex flex-row justify-content-between align-items-center mt-4">
    <img class="logo--login" src="{% static 'logo-codata.png' %}" alt="Logo da CODATA">
    <img class="logo--login-big" src="{% static 'logo-governo-paraiba.png' %}"
        alt="Logo do Governo do Estado da Paraíba">
</div>
{% endblock %}